<div id="container">
  <segmented-controls [controls]=controlsDemo0 selected="0">
  </segmented-controls>
  <segmented-controls [controls]=controlsDemo1 selected="0">
  </segmented-controls>
  <segmented-controls [controls]=controlsDemo1 selected="1">
  </segmented-controls>
  <segmented-controls [controls]=controlsDemo1 selected="2">
  </segmented-controls>
  <segmented-controls [controls]=controlsDemo2 selected="0">
  </segmented-controls>
  <segmented-controls [controls]=controlsDemo2 selected="1">
  </segmented-controls>
  <segmented-controls [controls]=controlsDemo3 selected="0">
  </segmented-controls>
  <segmented-controls [controls]=controlsDemo3 selected="1">
  </segmented-controls>
</div>