<div id="container">
  <segmented-controls>
    <segmented-controls-item>
      <span>Label</span>
    </segmented-controls-item>
    <segmented-controls-item>
      <span>Label</span>
    </segmented-controls-item>
    <segmented-controls-item>
      <span>Label</span>
    </segmented-controls-item>
  </segmented-controls>
  <segmented-controls>
    <segmented-controls-item *ngFor="let control of controlsDemo0">
      <img *ngIf="control.img" src="{{control.img}}" name="graphic" />
      <mwc-icon *ngIf="control.icon" name="graphic">{{control.icon}}</mwc-icon>
      <span>{{control.label}}</span>
    </segmented-controls-item>
  </segmented-controls>
  <segmented-controls>
      <segmented-controls-item *ngFor="let control of controlsDemo1" [select]="control.selected">
        <span>{{control.label}}</span>
      </segmented-controls-item>
    </segmented-controls>
  <segmented-controls>
    <segmented-controls-item *ngFor="let control of controlsDemo2">
      <span>{{control.label}}</span>
    </segmented-controls-item>
  </segmented-controls>
  <segmented-controls>
      <segmented-controls-item *ngFor="let control of controlsDemo3">
        <mwc-icon *ngIf="control.icon" name="graphic">{{control.icon}}</mwc-icon>
        <span>{{control.label}}</span>
      </segmented-controls-item>
    </segmented-controls>
</div>